.vertical {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.textBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    flex: 1;
    background-color: whitesmoke;
}

.textBlock>span {
    margin-bottom: 20px;
}

.imageBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 3px;
    padding: 10px;
    flex: 1;
    margin: 0;
    background-color: whitesmoke;
}

.imageBlock>figcaption {
    margin-bottom: 20px;
}

.imageBlock>img {
    height: 150px;
    width: auto;
}